<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
	<title>{{ title }}</title>
	<link rel="stylesheet" type="text/css" href="../static/css/semantic.min.css">
	<title>Flask URL shortner</title>
	<style>
		body {
			background-color: #1B1C1D;
		    margin: auto;
		    width: 60%;
		    padding: 10px;
		}

		h1 {
			 text-align: center;
		}

		.ui.segment {
			position: relative;
			top: 50%;
			transform: translateY(-50%);
		}

	</style>
</head>
	<body>
		<div class="ui basic segment">
	        <h1 class="ui inverted header"><font size="140">Flask URL Shortner</font></h1>
			<form class="ui form" method="POST" action="/create-url">
				<div class="ui fluid medium action input">
					{{ form.url()}}
					<button class="ui teal button">Shorten</button>
					<input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
				</div>
			</form>
	        {% with messages = get_flashed_messages() %}
	          {% if messages %}
	            {% for message in messages %}
	                <div class="ui message"><strong>{{ message | safe }}</strong></div>
	            {% endfor %}
	          {% endif %}
	        {% endwith %}
        </div>
	</body>
</html>